[Unit]
Description=chronos announcer
BindsTo=chronos@%i.service

[Service]
ExecStart=/bin/bash -c " \
    while true; do \
        etcdctl set --ttl 60 /skydns/local/vogt/sky/chronos-%i {\\\"host\\\":\\\"%H\\\"} && \
        etcdctl set --ttl 60 /skydns/local/vogt/sky/chronos/%i {\\\"host\\\":\\\"%H\\\"} && \
        sleep 45; \
    done"
ExecStop=/bin/bash -c " \
    etcdctl rm /skydns/local/vogt/sky/chronos-%i && \
    etcdctl rm /skydns/local/vogt/sky/chronos/%i ; "
Restart=always
RestartSec=5s

[X-Fleet]
MachineOf=chronos@%i.service
