[Unit]
Description=HDFS datanode
After=docker.service
After=fleet.service
After=flanneld.service
Requires=docker.service
Requires=flanneld.service

[Service]
TimeoutStartSec=900
ExecStartPre=-/usr/bin/docker kill $(docker ps -a -q -f name=hdfs-datanode)
ExecStartPre=-/usr/bin/docker rm $(docker ps -a -q -f name=hdfs-datanode)
ExecStartPre=/usr/bin/docker pull vogt1005.scripps.edu:5000/hdfs-datanode
ExecStart=/usr/bin/bash -c \
"/usr/bin/docker run --rm -P --net=host --name hdfs-datanode-%i -v /mnt/work:/mnt/work \
vogt1005.scripps.edu:5000/hdfs-datanode datanode"
ExecStop=-/usr/bin/docker rm -f hdfs-datanode-%i
Restart=always
RestartSec=10s

[X-Fleet]
Conflicts=hdfs-datanode@*.service
