[Unit]
Description=Mesos Master Announcer
BindsTo=mesos-master@%i.service
After=mesos-master@%i.service

[Service]
ExecStart=/bin/bash -c " \
    while [ -n \"$IP\"]; do \
        IP=$(getent hosts %H | awk '{ print $1 }'); \
        sleep 1; \
    done; \
    while true; do \
        etcdctl set --ttl 60 /skydns/local/vogt/sky/mesos-master-%i {\\\"host\\\":\\\"$IP\\\"} && \
        etcdctl set --ttl 60 /skydns/local/vogt/sky/mesos-master/%i {\\\"host\\\":\\\"$IP\\\"}; \
        sleep 45; \
    done"
Restart=always
RestartSec=1s

[X-Fleet]
MachineOf=mesos-master@%i.service
