[Unit]
Description=Zookeeper Announcer
BindsTo=zk@%i.service
After=zk@%i.service

[Service]
ExecStart=/bin/bash -c "while [ -n \"$IP\"]; do IP=$(docker inspect -f '{{.NetworkSettings.IPAddress}}' zk-%i); sleep 1; done; while true; do etcdctl set --ttl 60 /skydns/local/vogt/sky/zk-%i {\\\"host\\\":\\\"$IP\\\"} && etcdctl set /skydns/local/vogt/sky/zk/%i {\\\"host\\\":\\\"$IP\\\"}; sleep 45; done"
Restart=always
RestartSec=60s

[X-Fleet]
MachineOf=zk@%i.service
