[Unit]
Description=Zookeeper
After=docker.service
After=fleet.service
After=flanneld.service
Requires=docker.service
Requires=flanneld.service

[Service]
TimeoutStartSec=900
ExecStartPre=-/usr/bin/docker kill $(docker ps -a -q -f name=zk)
ExecStartPre=-/usr/bin/docker rm $(docker ps -a -q -f name=zk)
ExecStartPre=/usr/bin/docker pull jhart99/zk2
ExecStart=/usr/bin/bash -c \
"/usr/bin/docker run --rm --name zk-%i \
-e SERVICE_NAME=zk -e CONTAINER_NAME=zk-%i -e ZOOKEEPER_SERVER_IDS=zk-1.vogt.local:1,zk-2.vogt.local:2,zk-3.vogt.local:3 \
-e ZK_ZK_1_HOST=zk-1 -e ZK_ZK_1_CLIENT_PORT=2181 -e ZK_ZK_1_PEER_PORT=2888 -e ZK_ZK_1_LEADER_ELECTION_PORT=3888 \
-e ZK_ZK_2_HOST=zk-2 -e ZK_ZK_2_CLIENT_PORT=2181 -e ZK_ZK_2_PEER_PORT=2888 -e ZK_ZK_2_LEADER_ELECTION_PORT=3888 \
-e ZK_ZK_3_HOST=zk-3 -e ZK_ZK_3_CLIENT_PORT=2181 -e ZK_ZK_3_PEER_PORT=2888 -e ZK_ZK_3_LEADER_ELECTION_PORT=3888 \
jhart99/zk2"
ExecStop=-/usr/bin/docker rm -f zk-%i
Restart=always
RestartSec=10s

[X-Fleet]
Conflicts=zk2@*.service
MachineMetadata=role=services
