[Unit]
Description=HDFS Namenode Announcer
BindsTo=hdfs-namenode.service
After=hdfs-namenode.service

[Service]
ExecStart=/bin/bash -c "while [ -n \"$IP\"]; do IP=$(docker inspect -f '{{.NetworkSettings.IPAddress}}' hdfs-namenode); sleep 1; done; while true; do etcdctl set --ttl 60 /skydns/local/vogt/sky/namenode {\\\"host\\\":\\\"$IP\\\"}; sleep 45; done"
Restart=always
RestartSec=60s

[X-Fleet]
MachineOf=hdfs-namenode.service
